/* fonts used
font-family: 'Josefin Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

:root{
    --one: 'Josefin Sans', sans-serif;
    --two: 'Poppins', sans-serif;
}

*{
    padding: 0;
    border: 0;
    margin: 0;
    font-family: var(--one);
}

html{
    scroll-behavior: smooth;
    font-size: 18px;
}
/* =============         all the root things above */
.greyBackGround{
    background-color: #f3f3f3;
    width: 100%;
    height: 200vh;
}
.flex{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
/* ============           the first div */
#WhiteBox{
    background-color: white;
    width: 83%;
    height: 100%;
}


/* ============================================================== */
/* ========== the navigation bar that is not sticky */
#navbar{
    height: 4rem;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid #f3f3f3;
}

.navbar1{
    list-style: none;
    /* background-color: red; */
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.navbarElements{
    width: 3rem;
    height: 3rem;
    /* background-color: gray; */
    flex-grow: 0;
    
}

.imgContain{
    height: inherit; 
}



.navbarElement{
    display: flex;
    flex-grow: 0;
    width: fit-content;
    /* background-color: yellow; */
    

}

.linking{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-family: var(--one);
    font-weight: bolder;
}

/* ================================================================ */
/* the navbar that is translucent and sticky */
#navbar2{
    height: 3.5rem;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: flex-start;
    position: sticky;
    top:0;
    /* background-color: rgba(red, green, blue, 1); */
}

.nav2{
    width: 20.5%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav2Elements{
    list-style: none;
    font-size: 0.8rem;
    font-weight: 600;

}
.ora{
    color: orangered;
}














/*  the text selector color for this website */
::-moz-selection{
    color: white;
    background-color: #0000ff;
}

::selection{
    color: white;
    background-color: #0000ff;
}