*{
    padding: 0;
    border: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
    font-size: 18px;
}
/* =============         all the root things above */
.greyBackGround{
    background-color: #f3f3f3;
    width: 100%;
    height: 200vh;
}
.flex{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
/* ============           the first div */
#WhiteBox{
    background-color: white;
    width: 83%;
    height: 100%;
}

/* ========== the navigation bar that is not sticky */
#navbar{
    height: 4rem;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: flex-start;
}

.navbar1{
    list-style: none;
    background-color: red;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.navbarElements{
    width: 3rem;
    height: 3rem;
    background-color: gray;
    flex-grow: 0;
    
}

.imgContain{
    height: inherit; 
}



.navbarElement{
    display: flex;
    flex-grow: 0;
    width: fit-content;
    background-color: yellow;
    

}

.linking{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}