/* fonts used
font-family: 'Josefin Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

:root{
    --one: 'Josefin Sans', sans-serif;
    --two: 'Poppins', sans-serif;
    --space: 83.5%;
}

*{
    padding: 0;
    border: 0;
    margin: 0;
    font-family: var(--one);
}

html{
    scroll-behavior: smooth;
    font-size: 18px;
}
/* =============         all the root things above */
.greyBackGround{
    background-color: #f3f3f3;
    width: 100%;
    height: 1000vh;
}
.flex{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
/* ============           the first div */
#WhiteBox{
    background-color: white;
    width: 83%;
    height: 100%;
}


/* ============================================================== */
/* ========== the navigation bar that is not sticky */
#navbar{
    height: 4rem;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid #f3f3f3;
}

.navbar1{
    list-style: none;
    /* background-color: red; */
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.navbarElements{
    width: 3rem;
    height: 3rem;
    /* background-color: gray; */
    flex-grow: 0;
    
}

.imgContain{
    height: inherit; 
}
.imgContain:hover{
    cursor: pointer;
}



.navbarElement{
    display: flex;
    flex-grow: 0;
    width: fit-content;
    /* background-color: yellow; */
    

}

.linking{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-family: var(--one);
    font-weight: bolder;
}


/* ================================================================= */
/* second half of the navbar */

.navbar2{
    display: flex;
    list-style: none;
    align-items: center;
    width: 22%;
    justify-content: space-evenly;
    margin-left: 30%;
}

.element1{
    color: #0000ff;
    font-weight: 600;
}
.element1:hover{
    cursor: pointer;
}
.element2{
    font-weight: 600;
}
.element2:hover{
    cursor: pointer;
}

/* ================================================================ */
/* the navbar that is translucent and sticky */
#navbar2{
    height: 3.5rem;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: flex-start;
    position: sticky;
    top:0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: +2;
}

.nav2{
    width: 20.5%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav2Elements{
    list-style: none;
    font-size: 0.8rem;
    font-weight: 600;

}
.nav2Elements:hover{
    cursor: pointer;
}
.ora{
    color: orangered;
}


/* ============================================================= */
/* the hero section */

.spaces{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#heroSection{
    background-image: url(../assets/img/first.jpg);
    height: 90vh;                            /* fixed value here*/
    width: 83.5%;
    background-repeat: no-repeat;
    background-size: cover;
}

.heroText{
    position: absolute;
    font-size: 6.5rem;
    color: #fd5948;
    top:53.5%
}
/* ============================================================= */
/* 2nd part the part after the hero section (font size: 1.875rem)*/
#part2{
    width: 49%;
    height: 28rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    bottom: 1rem;
}
.link2{
    text-decoration: none;
    color: #0000ff;
}
.bigger{
    font-size: 1.8rem;
    line-height: 2rem;
}
.smaller{
    font-size:1.1rem ;
    line-height: 1.5rem;
}
/* ============================================================== */
/* 3rd part of after the hero section */

#shapes{
    position: relative;
    height: 100vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    bottom: 2.4rem;
}

#yellowBox{
    height: 100%;
    width: 58%;
    background-color: #fbffa7;
}
#smallPic{
    position: absolute;
    width: 35%;
    height: 34%;
    background-image: url(../assets/img/2nd\(1\).jpg);
    background-repeat: no-repeat;
    background-size: contain;
    right: 5rem;
    
}
#bigPic{
    position: absolute;
    width: 45%;
    height: 70%;
    background-image: url(../assets/img/3rd2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    left: 5rem;

}


/* ================================================================ */
/* the fourth part from the hero section */

#part4{
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    width: 50%;
    position: relative;
    top: 5.4rem;
    
}
.part41{
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 1.5rem;
    
}
.part42{
    font-size: 1.1rem;
    line-height: 1.6rem;

}


/*====================================================================  */
/* the fifth part from the hero section */

#part5{
    width: 50%;
    height: 25rem;
}



#btn{
    position: relative;
    top: 40rem;
}
.vidEdit{
    width: 100%;
    height: inherit;
    position: relative;
    top: 12rem;
}
.vidEdit:hover{
    cursor: pointer;
}
.vidEdit2{
    width: 100%;
    height: inherit;
    position: relative;
    bottom: 13.1rem;
}
.vidEdit2:hover{
    cursor: pointer;
}

.playBtn{
    width: 6.2%;
    height: auto;
    z-index: 1;
    position: relative;
    bottom: 2.9rem;
}
.playBtn:hover{
    cursor: pointer;
}

/* ============================================================ */











/*  the text selector color for this website */
::-moz-selection{
    color: white;
    background-color: #0000ff;
}

::selection{
    color: white;
    background-color: #0000ff;
}